<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IndianBank</title>
  <link href="css/bootstrap.min.css/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<footer>
  <!-- Footer -->
  <section id="footer">
    <div class="container col-xxl-8 px-1 py-1 contact">
      <footer class="py-5">
        <div class="row d-flex p-2">
          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-4 foot-align">
            <h5>MAIL</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb"><a href="mailto:gowtham.s@visnet.in" class="nav-link p-0 text-body-secondary"><img
                    src="assets/mail.png" alt="gowtham-mail" width="25" height="25"> Gowtham</a></li>
              <li class="nav-item mb"><a href="mailto:shashidhara.s@visnet.in"
                  class="nav-link p-0 text-body-secondary"><img src="./assets/mail.png" alt="shashidhara-mail"
                    width="25" height="25"> Shashidhara</a></li>
              <li class="nav-item mb"><a href="mailto:sathyavelu.s@visnet.in"
                  class="nav-link p-0 text-body-secondary"><img src="./assets/mail.png" alt="linkedin" width="25"
                    height="25"> Sathyavelu (Manager)</a></li>
            </ul>
          </div>

          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-3 foot-align">
            <h5>CONTACT</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb"><a href="tel: +91 98841 36564" class="nav-link p-0 text-body-secondary"><img
                    src="assets/telephone.png" alt="linkedin" width="25" height="25"> Gowtham</a>
              </li>
              <li class="nav-item mb"><a href="tel: +91 90081 45792" class="nav-link p-0 text-body-secondary"><img
                    src="assets/telephone.png" alt="linkedin" width="25" height="25"> Shashidhara</a>
              </li>
              <li class="nav-item mb"><a href="tel: +91 99015 02082" class="nav-link p-0 text-body-secondary"><img
                    src="assets/telephone.png" alt="linkedin" width="25" height="25"> Sathyavelu (Manager)</a>
              </li>
            </ul>
          </div>

          <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-3 foot-align">
            <h5>VISIT US</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb"><a href="https://www.linkedin.com/in/gowtham3398"
                  class="nav-link p-0 text-body-secondary">
                  <img src="assets/linkedin.png" alt="linkedin" width="25" height="25">
                </a>
              </li>
              <li class="nav-item mb"><a href="https://www.visnet.in/" class="nav-link p-0 text-body-secondary">
                  <img src="assets/vis-logo.png" alt="Company Site" width="25" height="20"></a>
              </li>
            </ul>
          </div>
          <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top copyright-align">
            <p>© 2024 VIS Networks, Inc. All rights reserved.</p>
          </div>
      </footer>
    </div>
  </section>
</footer>

</html>