<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IndianBank</title>
  <link href="css/bootstrap.min.css/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<header>
  <!-- Header -->
  <section id="header">
    <div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/home" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="assets/vis-logo.png" alt="VIS Networks" width="50" height="40">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4 text-white">VIS Networks</span>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/home" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  <use xlink:href="#home"></use>
                </svg>
                Home
              </a>
            </li>
            <li>
              <a href="/dashboard" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  <use xlink:href="#dashboard"></use>
                </svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="/project" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  <use xlink:href="#projects"></use>
                </svg>
                Projects
              </a>
            </li>
            <li>
              <a href="/database" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  <use xlink:href="#database"></use>
                </svg>
                Database
              </a>
            </li>
            <li>
              <a href="#footer" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  <use xlink:href="#contact"></use>
                </svg>
                Contact
              </a>
            </li>
            <li>
              <a href="/logout" class="radius-btn">
                <img class="logout" src="assets/log-out-btn.png" alt="Log Out" width="25" height="20">
                <svg class="bi me-auto" width="20" height="20">
                  <use xlink:href="#logout"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- <script src="script/login.js"></script> -->
</header>

</html>