<!-- Header -->
<%- include("partials/header.ejs") %>

<body>
  <!-- Main -->
  <section id="main">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">General IVR</h1>
          <p class="lead">Using the General IVR, We can able to do the Digital Blocking, check the Balance Enquiry via
            IVR & SMS, Last 5 Transactions via IVR & SMS, Transaction status for IMPS, RTGS & NEFT, Stop Cheque Payment,
            Request Account Statement, Card Status, Account Status, Cheque Book Request, TDS Certificate, ATM Card
            Replacement, UnAuthorized Banking, Loan details for Home Loan, Vehicle Loan, Mortgage Loan, Salary Loan,
            Pension Loan, MSMS Loan, Mudra Loan, KCC Fresh Loan, KCC Renewal Loan, Agri Jewel Loan, Food Agriculture
            Loan, Other Agriculture Loan, Loan status, Apply Loan, know the ATM Locator, Pension Related Queries,
            Digital Banking of Debit Card, Net Banking, Mobile Banking, Cred Card, UPI. Agent Transfer for
            Non-Registered Customer. Special funtionality and Agent Transfer for High Premium Customer, Pension
            Customer, Premium or NRI Customer. 24/7 Agent Support and IVR Support.</p>

          <br>
          <br>

          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">UPI123</h1>
          <p class="lead">UPI123 is mainly implemented for the Rural Area People's and in Internet down situations. For
            this UPI123 the From User and the End User don't need the Internet Connectivity, only the middleware
            applications <span class="span">(IVR and Infrasoft API and NPCI)</span> need the Internet Connnectivity. The
            maximum tranasction history is Rupees 2000 as of now, in future if needed to be increased or decresed using
            the property file configurations we can modify it. To use the UPI123 service, 1st need to Register to the
            UPI123. After the Registration process, we can able to do the Fund Transfer for both <span class="span">On-Us & Off-Us.</span> On-Us <span class="span">(Fund Transfer between the Same Banks)</span>
            and Off-Us <span class="span">(Fund Transfer to Other Banks)</span> check the account Current Balance and
            check the Last 5 Transactions History. MPIN & UPIN can also be changed and UPI123 service can also be
            De-Registered.</p>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- Footer -->
<%- include("partials/footer.ejs") %>