<!-- Header -->
<%- include("partials/header.ejs") %>

<section id="main">
  <div class="container col-12 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
    </div>
  </div>
</section>

<!-- Footer -->
<%- include("partials/footer.ejs") %>