<!-- Header -->
<%- include("partials/header.ejs") %>

<body>
  <!-- Main -->
  <section id="main">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          <img src="assets/fundTransfer.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="150" height="150" loading="lazy">
        </div>
        <div class="col-lg-6 col-md-6 col-md-6 col-6">
          <img src="assets/customer-service.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="150" height="150" loading="lazy">
        </div>
        <div class="col-12">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Indian Bank Project</h1>
          <p class="lead">From the VIS Networks, for the Indian Bank we are maintaining two of the Projects. General IVR
            and UPI123 Fund Transfer. <span class="span">In Dashboard tab, </span> we can able to find out the Project
            description in detail. <span class="span">In
              Project tab,</span> we can able to view both projects - API, Database, Success & Failure, Property
            Configuration and Log details. <span class="span">In Contact tab,</span> we can able to check the Primary
            Engineer and Second Engineer details.</p>
        </div>
      </div>
    </div>
  </section>
</body>

<!-- Footer -->
<%- include("partials/footer.ejs") %>